<a href="https://colab.research.google.com/github/AKerby/dsci_325_module_7_more_data_management_in_python/blob/main/Joining%20Tables%20in%20Python%20Part%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Concatenating Tables with Set-Like Operations

One of the two way of combining two tables is to stack one table on top of the other.  When stacking two tables on top of one another, we need to decide

1. If we combine columns based on position or name (and if combining by name, what do we do with mismatches?)
2. How to decide which rows to keep.  In this case, we will take some guidance from SQL clauses.

## Three Types of Operations

* **Union:** Keeps rows from either table.
* **Intersection:** Only keeps common columns
* **Set Difference/Except:** Keep rows from the left table *except* those in the right table.

## Set Operations in Action

<img src="https://github.com/AKerby/dsci_325_module_7_more_data_management_in_python/blob/main/img/table_verbs_set.gif?raw=1" width=800>

## All Operations Match by Position

All operations

* Match columns by position
* Require same number/type of columns

## Distinct Versus All

* **UNION/INTERSECT/SET DIFFERENE** are **DISTINCT**
    * Only keeps distinct rows, removing duplicates.
* **UNION ALL/INTERSECT ALL/SET DIFFERENCE ALL**
    * Keeps duplicate rows

In [1]:
!pip install more_polars
import polars as pl

Collecting more_polars
  Downloading more_polars-0.3.0-py3-none-any.whl (5.0 kB)
Collecting composable>=0.5.4 (from more_polars)
  Downloading composable-0.5.4-py3-none-any.whl (8.5 kB)
Requirement already satisfied: polars>=0.14.26 in /usr/local/lib/python3.10/dist-packages (from more_polars) (0.20.2)
Collecting python-forge<19.0,>=18.6 (from composable>=0.5.4->more_polars)
  Downloading python_forge-18.6.0-py35-none-any.whl (31 kB)
Collecting toolz<0.12.0,>=0.11.1 (from composable>=0.5.4->more_polars)
  Downloading toolz-0.11.2-py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.8/55.8 kB 3.2 MB/s eta 0:00:00
Installing collected packages: python-forge, toolz, composable, more_polars
  Attempting uninstall: toolz
    Found existing installation: toolz 0.12.1
    Uninstalling toolz-0.12.1:
      Successfully uninstalled toolz-0.12.1
Successfully installed composable-0.5.4 more_polars-0.3.0 python-forge-18.6.0 toolz-0.11.2

In [2]:
url = "https://github.com/AKerby/dsci_325_module_7_more_data_management_in_python/raw/main/sample_data/auto_sales_apr.csv"
sales_apr = pl.read_csv(url)
sales_apr

shape: (4, 5)
┌─────────────┬─────────┬───────┬─────┬───────┐
│ Salesperson ┆ Compact ┆ Sedan ┆ SUV ┆ Truck │
│ ---         ┆ ---     ┆ ---   ┆ --- ┆ ---   │
│ str         ┆ i64     ┆ i64   ┆ i64 ┆ i64   │
╞═════════════╪═════════╪═══════╪═════╪═══════╡
│ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    │
│ Bob         ┆ 19      ┆ 12    ┆ 17  ┆ 20    │
│ Yolanda     ┆ 19      ┆ 8     ┆ 32  ┆ 15    │
│ Xerxes      ┆ 12      ┆ 23    ┆ 18  ┆ 9     │
└─────────────┴─────────┴───────┴─────┴───────┘

In [3]:
url2 = "https://github.com/AKerby/dsci_325_module_7_more_data_management_in_python/raw/main/sample_data/auto_sales_may.csv"
sales_may = pl.read_csv(url2)
sales_may

shape: (4, 5)
┌─────────────┬─────────┬───────┬─────┬───────┐
│ Salesperson ┆ Compact ┆ Sedan ┆ SUV ┆ Truck │
│ ---         ┆ ---     ┆ ---   ┆ --- ┆ ---   │
│ str         ┆ i64     ┆ i64   ┆ i64 ┆ i64   │
╞═════════════╪═════════╪═══════╪═════╪═══════╡
│ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    │
│ Bob         ┆ 20      ┆ 14    ┆ 6   ┆ 24    │
│ Yolanda     ┆ 19      ┆ 10    ┆ 28  ┆ 17    │
│ Xerxes      ┆ 11      ┆ 27    ┆ 17  ┆ 9     │
└─────────────┴─────────┴───────┴─────┴───────┘

In [4]:
url3 = "https://github.com/AKerby/dsci_325_module_7_more_data_management_in_python/raw/main/sample_data/auto_sales_june.csv"
sales_june = pl.read_csv(url3)
sales_june

shape: (4, 5)
┌─────────────┬─────────┬───────┬─────┬───────┐
│ Salesperson ┆ Compact ┆ Sedan ┆ SUV ┆ Truck │
│ ---         ┆ ---     ┆ ---   ┆ --- ┆ ---   │
│ str         ┆ i64     ┆ i64   ┆ i64 ┆ i64   │
╞═════════════╪═════════╪═══════╪═════╪═══════╡
│ Ann         ┆ 18      ┆ 19    ┆ 17  ┆ 12    │
│ Bob         ┆ 20      ┆ 15    ┆ 8   ┆ 23    │
│ Yolanda     ┆ 21      ┆ 9     ┆ 22  ┆ 19    │
│ Xerxes      ┆ 12      ┆ 25    ┆ 19  ┆ 8     │
└─────────────┴─────────┴───────┴─────┴───────┘

## Unions with `polars`

* Use `vstack` to perform a union on 2 tables.
* Use `pl.concat` to perform a union of 3+ tables.

In [7]:
sales_apr.vstack(sales_may)

shape: (8, 5)
┌─────────────┬─────────┬───────┬─────┬───────┐
│ Salesperson ┆ Compact ┆ Sedan ┆ SUV ┆ Truck │
│ ---         ┆ ---     ┆ ---   ┆ --- ┆ ---   │
│ str         ┆ i64     ┆ i64   ┆ i64 ┆ i64   │
╞═════════════╪═════════╪═══════╪═════╪═══════╡
│ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    │
│ Bob         ┆ 19      ┆ 12    ┆ 17  ┆ 20    │
│ Yolanda     ┆ 19      ┆ 8     ┆ 32  ┆ 15    │
│ Xerxes      ┆ 12      ┆ 23    ┆ 18  ┆ 9     │
│ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    │
│ Bob         ┆ 20      ┆ 14    ┆ 6   ┆ 24    │
│ Yolanda     ┆ 19      ┆ 10    ┆ 28  ┆ 17    │
│ Xerxes      ┆ 11      ┆ 27    ┆ 17  ┆ 9     │
└─────────────┴─────────┴───────┴─────┴───────┘

## `df.vstack` is NOT distinct

You need to perform a `unique` after the union to get distinct rows.

In [8]:
sales_may.vstack(sales_apr).unique()

shape: (7, 5)
┌─────────────┬─────────┬───────┬─────┬───────┐
│ Salesperson ┆ Compact ┆ Sedan ┆ SUV ┆ Truck │
│ ---         ┆ ---     ┆ ---   ┆ --- ┆ ---   │
│ str         ┆ i64     ┆ i64   ┆ i64 ┆ i64   │
╞═════════════╪═════════╪═══════╪═════╪═══════╡
│ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    │
│ Yolanda     ┆ 19      ┆ 8     ┆ 32  ┆ 15    │
│ Bob         ┆ 20      ┆ 14    ┆ 6   ┆ 24    │
│ Yolanda     ┆ 19      ┆ 10    ┆ 28  ┆ 17    │
│ Xerxes      ┆ 11      ┆ 27    ┆ 17  ┆ 9     │
│ Bob         ┆ 19      ┆ 12    ┆ 17  ┆ 20    │
│ Xerxes      ┆ 12      ┆ 23    ┆ 18  ┆ 9     │
└─────────────┴─────────┴───────┴─────┴───────┘

In [9]:
sales_may.vstack(sales_apr).unique(keep='last')

shape: (7, 5)
┌─────────────┬─────────┬───────┬─────┬───────┐
│ Salesperson ┆ Compact ┆ Sedan ┆ SUV ┆ Truck │
│ ---         ┆ ---     ┆ ---   ┆ --- ┆ ---   │
│ str         ┆ i64     ┆ i64   ┆ i64 ┆ i64   │
╞═════════════╪═════════╪═══════╪═════╪═══════╡
│ Yolanda     ┆ 19      ┆ 10    ┆ 28  ┆ 17    │
│ Xerxes      ┆ 12      ┆ 23    ┆ 18  ┆ 9     │
│ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    │
│ Bob         ┆ 20      ┆ 14    ┆ 6   ┆ 24    │
│ Xerxes      ┆ 11      ┆ 27    ┆ 17  ┆ 9     │
│ Bob         ┆ 19      ┆ 12    ┆ 17  ┆ 20    │
│ Yolanda     ┆ 19      ┆ 8     ┆ 32  ┆ 15    │
└─────────────┴─────────┴───────┴─────┴───────┘

## Columns are stacked by column location/order!

In [ ]:
(sales_apr.select(['Salesperson','Compact','Sedan','SUV','Truck'])
.vstack(sales_may.select(['Salesperson','SUV','Truck','Compact','Sedan']))
)

SchemaError: cannot vstack: because column names in the two DataFrames do not match for left.name='Compact' != right.name='SUV'

## Adding a month column

Another way to keep both of Ann's sales rows is adding a month column (which we should probably do anyway).

In [17]:
pl.Config.with_columns_kwargs = True

(sales_may
 .with_columns(month = pl.lit('May'))
 .vstack(sales_apr
        .with_columns(month = pl.lit('April'))
        )
)

shape: (8, 6)
┌─────────────┬─────────┬───────┬─────┬───────┬───────┐
│ Salesperson ┆ Compact ┆ Sedan ┆ SUV ┆ Truck ┆ month │
│ ---         ┆ ---     ┆ ---   ┆ --- ┆ ---   ┆ ---   │
│ str         ┆ i64     ┆ i64   ┆ i64 ┆ i64   ┆ str   │
╞═════════════╪═════════╪═══════╪═════╪═══════╪═══════╡
│ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    ┆ May   │
│ Bob         ┆ 20      ┆ 14    ┆ 6   ┆ 24    ┆ May   │
│ Yolanda     ┆ 19      ┆ 10    ┆ 28  ┆ 17    ┆ May   │
│ Xerxes      ┆ 11      ┆ 27    ┆ 17  ┆ 9     ┆ May   │
│ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    ┆ April │
│ Bob         ┆ 19      ┆ 12    ┆ 17  ┆ 20    ┆ April │
│ Yolanda     ┆ 19      ┆ 8     ┆ 32  ┆ 15    ┆ April │
│ Xerxes      ┆ 12      ┆ 23    ┆ 18  ┆ 9     ┆ April │
└─────────────┴─────────┴───────┴─────┴───────┴───────┘

## No `INTERSECT` or `DIFFERENCE` in `polars`

As of Fall 2022, `polars` lacks the either of these set operations.

## Combining multiple files using vstack

The first method of performing a union on more than two tables function is to dot-chain `vstack`.

#### Combining the raw files

In [18]:
(sales_apr
 .vstack(sales_may)
 .vstack(sales_june)
)

shape: (12, 5)
┌─────────────┬─────────┬───────┬─────┬───────┐
│ Salesperson ┆ Compact ┆ Sedan ┆ SUV ┆ Truck │
│ ---         ┆ ---     ┆ ---   ┆ --- ┆ ---   │
│ str         ┆ i64     ┆ i64   ┆ i64 ┆ i64   │
╞═════════════╪═════════╪═══════╪═════╪═══════╡
│ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    │
│ Bob         ┆ 19      ┆ 12    ┆ 17  ┆ 20    │
│ Yolanda     ┆ 19      ┆ 8     ┆ 32  ┆ 15    │
│ Xerxes      ┆ 12      ┆ 23    ┆ 18  ┆ 9     │
│ …           ┆ …       ┆ …     ┆ …   ┆ …     │
│ Ann         ┆ 18      ┆ 19    ┆ 17  ┆ 12    │
│ Bob         ┆ 20      ┆ 15    ┆ 8   ┆ 23    │
│ Yolanda     ┆ 21      ┆ 9     ┆ 22  ┆ 19    │
│ Xerxes      ┆ 12      ┆ 25    ┆ 19  ┆ 8     │
└─────────────┴─────────┴───────┴─────┴───────┘

#### Adding a month column to each

This approach becomes messy when processing each table, as the processing of all subsequent table most be nested inside `vstack`.

In [20]:
(sales_apr
 .with_columns(month = pl.lit('April'))
 .vstack(sales_may
         .with_columns(month = pl.lit('May'))
        )
 .vstack(sales_june
         .with_columns(month = pl.lit('June'))
        )
)

shape: (12, 6)
┌─────────────┬─────────┬───────┬─────┬───────┬───────┐
│ Salesperson ┆ Compact ┆ Sedan ┆ SUV ┆ Truck ┆ month │
│ ---         ┆ ---     ┆ ---   ┆ --- ┆ ---   ┆ ---   │
│ str         ┆ i64     ┆ i64   ┆ i64 ┆ i64   ┆ str   │
╞═════════════╪═════════╪═══════╪═════╪═══════╪═══════╡
│ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    ┆ April │
│ Bob         ┆ 19      ┆ 12    ┆ 17  ┆ 20    ┆ April │
│ Yolanda     ┆ 19      ┆ 8     ┆ 32  ┆ 15    ┆ April │
│ Xerxes      ┆ 12      ┆ 23    ┆ 18  ┆ 9     ┆ April │
│ …           ┆ …       ┆ …     ┆ …   ┆ …     ┆ …     │
│ Ann         ┆ 18      ┆ 19    ┆ 17  ┆ 12    ┆ June  │
│ Bob         ┆ 20      ┆ 15    ┆ 8   ┆ 23    ┆ June  │
│ Yolanda     ┆ 21      ┆ 9     ┆ 22  ┆ 19    ┆ June  │
│ Xerxes      ┆ 12      ┆ 25    ┆ 19  ┆ 8     ┆ June  │
└─────────────┴─────────┴───────┴─────┴───────┴───────┘

## Combining multiple files using concatenate

Another way to perform unions on many files is the function `pl.concat` allows stacking any number of files with the same columns.

#### Combining the raw files

In [22]:
pl.concat([sales_apr, sales_may, sales_june])

shape: (12, 5)
┌─────────────┬─────────┬───────┬─────┬───────┐
│ Salesperson ┆ Compact ┆ Sedan ┆ SUV ┆ Truck │
│ ---         ┆ ---     ┆ ---   ┆ --- ┆ ---   │
│ str         ┆ i64     ┆ i64   ┆ i64 ┆ i64   │
╞═════════════╪═════════╪═══════╪═════╪═══════╡
│ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    │
│ Bob         ┆ 19      ┆ 12    ┆ 17  ┆ 20    │
│ Yolanda     ┆ 19      ┆ 8     ┆ 32  ┆ 15    │
│ Xerxes      ┆ 12      ┆ 23    ┆ 18  ┆ 9     │
│ …           ┆ …       ┆ …     ┆ …   ┆ …     │
│ Ann         ┆ 18      ┆ 19    ┆ 17  ┆ 12    │
│ Bob         ┆ 20      ┆ 15    ┆ 8   ┆ 23    │
│ Yolanda     ┆ 21      ┆ 9     ┆ 22  ┆ 19    │
│ Xerxes      ┆ 12      ┆ 25    ┆ 19  ┆ 8     │
└─────────────┴─────────┴───────┴─────┴───────┘

#### Adding a month column to each

In [24]:
pl.concat([sales_apr.with_columns(month = pl.lit('April')),
           sales_may.with_columns(month = pl.lit('May')),
           sales_june.with_columns(month = pl.lit('June')),
           ])

shape: (12, 6)
┌─────────────┬─────────┬───────┬─────┬───────┬───────┐
│ Salesperson ┆ Compact ┆ Sedan ┆ SUV ┆ Truck ┆ month │
│ ---         ┆ ---     ┆ ---   ┆ --- ┆ ---   ┆ ---   │
│ str         ┆ i64     ┆ i64   ┆ i64 ┆ i64   ┆ str   │
╞═════════════╪═════════╪═══════╪═════╪═══════╪═══════╡
│ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    ┆ April │
│ Bob         ┆ 19      ┆ 12    ┆ 17  ┆ 20    ┆ April │
│ Yolanda     ┆ 19      ┆ 8     ┆ 32  ┆ 15    ┆ April │
│ Xerxes      ┆ 12      ┆ 23    ┆ 18  ┆ 9     ┆ April │
│ …           ┆ …       ┆ …     ┆ …   ┆ …     ┆ …     │
│ Ann         ┆ 18      ┆ 19    ┆ 17  ┆ 12    ┆ June  │
│ Bob         ┆ 20      ┆ 15    ┆ 8   ┆ 23    ┆ June  │
│ Yolanda     ┆ 21      ┆ 9     ┆ 22  ┆ 19    ┆ June  │
│ Xerxes      ┆ 12      ┆ 25    ┆ 19  ┆ 8     ┆ June  │
└─────────────┴─────────┴───────┴─────┴───────┴───────┘

## <font color="red"> Exercise 7.4.1</font>

In the data folder, you will find 6 files that contain a sample 100,000 rows from the uber data for the month apr14-sep14.  Perform the following tasks:

1. Read the April-August data frames.
2. Add the month column each data frame
3. Use `df.vstack` to combine these data frames into one combined `df`
4. Use `pd.concat` to combine these data frames into one combined `df`

In [ ]:
# Links to the datafiles
url_apr = "https://github.com/AKerby/dsci_325_module_7_more_data_management_in_python/raw/main/sample_data/uber-raw-data-apr14-sample.csv"
url_may = "https://github.com/AKerby/dsci_325_module_7_more_data_management_in_python/raw/main/sample_data/uber-raw-data-may14-sample.csv"
url_jun = "https://github.com/AKerby/dsci_325_module_7_more_data_management_in_python/raw/main/sample_data/uber-raw-data-jun14-sample.csv"
url_jul = "https://github.com/AKerby/dsci_325_module_7_more_data_management_in_python/raw/main/sample_data/uber-raw-data-jul14-sample.csv"
url_aug = "https://github.com/AKerby/dsci_325_module_7_more_data_management_in_python/raw/main/sample_data/uber-raw-data-aug14-sample.csv"

In [ ]:
# Your code here